<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flaskr</h1>
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li>Discover</li>
    <li><a href="{{ url_for('find') }}">Find</a></li>
    <li>Login</li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <div>
       <p>This is the body</p>
       {% block content %}{% endblock %}
  </div>
  <footer>Contact here</footer>
</section>
